
.acton-profile-overview-table .default {
  font-weight: bold;
}
.acton-profile-overview-table .link-set-default,
.acton-profile-overview-table .label-default {
  margin-left: 2em;
}

#acton-profile-form .form-item-data-site-url #edit-data-site-url {
  width: auto;
}
